include ../layout
extends ../layout
block content
  h1 Register
  .row
    .col-sm-12
      form.form-horizontal
        input.form-control(type="text" placeholder="username")
        input.form-control(type="password" placeholder="password")
